@media screen and (min-width: 1024px) {
    .header {
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
    }
    .header::after {
        right: -90px;
        left: -90px;
        top: -146px;
    }
}

@media screen and (min-width: 767px) {
    body {
        font-size: 62.5%;
    }
    .banner-slider {
        /* background: #000; */
    }
    .banner-img {
        background: #000;
    }
    .banner-img .hide-desk {
        display: none;
    }
    #countdown p {
        color: #fff;
    }
    .about-hamleys {
        background: url('../images/about-hamley-bg.png') no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    .experience-zone {
        padding: 155px 0;
    }
}

@media screen and (max-width: 767px) {
    .carousel {
        transform-origin: 150px 2000px;
        top: calc((100vh - 430px) / 2);
    }
    .carousel .recent-slider {
        transform-origin: 150px 2000px;
    }
    .carousel .recent-slider .slider-image {
        width: 250px;
    }
    .featured-products {
        padding: 30px 0 60px;
    }
    .discover-interactive {
        height: 950px;
    }
    .banner-img .hide-mob {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .recent-videos {
        padding-bottom: 130px;
    }
    .featured-products:before {
        content: '';
        background: url('../images/bg-img.png') no-repeat;
        background-size: contain;
        position: absolute;
        top: -80px;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .feature-main {
        margin-top: -30px;
    }
    .nav-tabs {
        width: 400px;
        justify-content: left;
    }
    .about-hamleys {
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position: center top;
    }
}

@media screen and (min-width: 430px) {
    .ribbon-heading:after {
        border-radius: 100%;
        bottom: -13px;
        background: #caa956;
        content: '';
        right: -80px;
        left: -80px;
        position: absolute;
        top: -170px;
    }
}

@media screen and (max-width: 429px) {
    .add-calender {
        padding: 20px 20px 80px;
    }
    .banner-slider .slick-dots {
        bottom: 39px;
    }
    .ribbon-heading {
        background-image: url(../images/ribbon-img.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        height: 150px;
        z-index: 1;
        margin-top: -43px;
        font-size: 2rem;
        /* background-position: -17px -10px; */
        position: static;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ribbon-heading span {
        transform: rotate(-9.56deg);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: -34px;
    }
}

@media screen and (max-width: 360px) {
    .circle-middle {
        width: 200px;
        right: 45px;
    }
    .ribbon-heading {
        height: 100px;
    }
    .ribbon-heading span {
        margin-top: -11px;
    }
}

@media screen and (max-width: 340px) {
    .ribbon-heading {
        font-size: 1.8rem;
    }
    .carousel {
        top: calc((100vh - 300px) / 2);
    }
}